<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <meta charset="UTF-8">
    <title>Boissons</title>
</head>
<body>
<div th:replace="fragments/header :: menu(activeTab='home')"/>
<ul>
<!--    pour parourir les listes-->
    <li th:each="boisson :${boissons}">
<!--        afficher le nom d'une boisson-->
        <p th:text="${boisson.nom}"></p>
        <form action="/panier/ajouter" method="post">
            <input  type="text" name="id" th:value="${boisson.id}" hidden>
            <select name="tailleID" id="produit-taille">
                <option value="">--choix de tailles--</option>
                <option th:each="produitTarif :${boisson.produitTarifs}"   th:value="${produitTarif.taille.id}" th:text="${produitTarif.taille.name}"></option>
            </select>
            <select name="quantite" id="produit-quantite">
                <option value="">--choix de la quantiters--</option>
                <option th:each="quantite :${#numbers.sequence(1, 10)}"   th:value="${quantite}" th:text="${quantite}"></option>
            </select>
            <input type="submit" value="ajouter au panier">
        </form>



    </li>
</ul>

</body>
</html>