<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <meta charset="UTF-8">
    <title>Boissons</title>
</head>
<body>
<div th:replace="fragments/header :: menu(activeTab='home')"/>
<ul>
<!--    pour parourir les listes-->
    <li th:each="boisson :${boissons}">
<!--        afficher le nom d'une boisson-->
        <p th:text="${boisson.nom}"></p>
        <form th:action="@{/panier/ajouter/produit}" method="post" th:object="${produitDTO}">
            <input  type="text" name="id"   th:value="${boisson.id}" hidden>
            <p th:if="${#fields.hasErrors('tailleID')}" th:errors="*{tailleID}"></p>
            <select name="tailleID" id="produit-taille">
                <option value="">--choix de tailles--</option>
                <option th:each="produitTarif :${boisson.produitTarifs}" th:field="*{tailleID}"   th:value="${produitTarif.taille.id}" th:text="${produitTarif.taille.name}"></option>
            </select>
            <p th:if="${#fields.hasErrors('quantiter')}" th:errors="*{quantiter}"></p>
            <select name="quantiter" id="produit-quantiter">
                <option value="">--choix de la quantiters--</option>
                <option th:each="quantiter :${#numbers.sequence(1, 10)}" th:field="*{quantiter}"   th:value="${quantiter}" th:text="${quantiter}"></option>
            </select>
            <input type="submit" value="ajouter au panier">
        </form>



    </li>
</ul>

</body>
</html>