<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: menu(activeTab='home')"/>
<h1 class="titre">DiaspoTea</h1>

<p class="introduction">Notre salon de thé ce veut un lieu convivialité et de partage et également disponible en livraison sur commande.<br>
    Situé à Boissy Saint-léger (94470) au 31 avenue de Paris, nous avons la prétention et la passion de vous faire découvrir notre différents variété de thé ayurvédique.</p>

</body>
</html>