<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <meta charset="UTF-8">
    <title>Petit-Dejeuner</title>
    <!--c'est le chemin pour qu'il telecharge le fichier demander -->
</head>
<body>
<div th:replace="fragments/header :: menu(activeTab='petit-dejeuner')"/>
<ul class="grid" >
    <li th:replace="fragments/productItem.html::productItem(items=${petitDejeuners},dto=${dto},action=@{/panier/ajouter/menu})">
    </li>

</ul>

</body>
</html>